@model CodeComb.Entity.Status
@{
    ViewBag.Title = "#"+Model.ID+" - 评测状态";
}
<div class="post-detail-body">
    <div class="cont-wrap">
        <div class="grid_12">
            <div class="post-detail-wrap-outer">
                <div class="post-detail-wrap">
                    <div class="status-detail-wrap">
                        <h2>Status - @Model.ID</h2>
                        <div class="status-item" id="s_@Model.ID"></div>
                        <div class="status-content" id="lstDetails">
                        </div>
                        @if (ViewBag.Showable)
                        { 
                            <div class="status-code">
                                <h3>Source</h3>
                                <pre><code class="@Html.GetLanguageClass(Model.Language)">@Model.Code</code></pre>
                            </div>
                        }
                        @if (ViewBag.IsMaster)
                        { 
                            <p><input type="button" value="重测" id="btnRejudge" class="button button-def" /></p>
                            using (Html.BeginForm("Rejudge", "Status", new { id = Model.ID }, FormMethod.Post, new { id = "frmRejudge" }))
                            { 
                                @Html.AntiForgeryToken()
                            }
                        }
                    </div>
                </div>
            </div>
        </div><div class="clear"></div>
    </div>
</div>
<script>
    id = @Model.ID;
    $.getJSON("/Status/GetStatus/@Model.ID", {}, function (status) {
        BuildStatusDetail(status);
        GetDetails(status.ID);
    });
</script>