@model CodeComb.Entity.Problem
@{
    ViewBag.Title = Model.Title;
    ViewBag.BannerTitle = Model.Title;
    var IsMaster = (bool)ViewBag.IsMaster;
    var IsCreator = (bool)ViewBag.IsCreator;
}

@if (Model.Contest.Begin <= DateTime.Now && DateTime.Now <= Model.Contest.End)
{
    <div class="contest-body">
        <div class="cont-wrap">
            <div class="grid_9 shadow">
                <div class="contest-main">
                    <div class="post-info"></div>
                    <div>
                        @if (!System.String.IsNullOrEmpty(Model.Background))
                        {
                            <h3>题目背景</h3>
                            <div class="post-content">@Html.Sanitized(Model.Background)</div>
                        }
                        @if (!System.String.IsNullOrEmpty(Model.Description))
                        {
                            <h3>题目描述</h3>
                            <div class="post-content">@Html.Sanitized(Model.Description)</div>
                        }
                        @if (!System.String.IsNullOrEmpty(Model.Input))
                        {
                            <h3>输入格式</h3>
                            <div class="post-content">@Html.Sanitized(Model.Input)</div>
                        }
                        @if (!System.String.IsNullOrEmpty(Model.Output))
                        {
                            <h3>输出格式</h3>
                            <div class="post-content">@Html.Sanitized(Model.Output)</div>
                        }
                        @if (Model.TestCases.Where(x => x.Type == TestCaseType.Sample).Count() > 0)
                        {
                            var i = 1;
                            foreach (var testcase in Model.TestCases.Where(x => x.Type == TestCaseType.Sample).ToList())
                            {
                                <h3>样例数据 @(i++)</h3>
                                <div class="post-content">
                                    <p>
                                        输入　
                                        [<a class="testcase-copywrap" data-id="i@(i - 1)" href="javascript:;">复制</a>]
                                    </p>
                                    <blockquote class="testcase" id="testcase-i@(i - 1)">
                                        @Html.Sanitized(HttpUtility.HtmlEncode(testcase.Input.TrimEnd('\n')).Replace("\n", "<br/>"))
                                    </blockquote>
                                    <p>输出</p>
                                    <blockquote class="testcase">
                                        @Html.Sanitized(HttpUtility.HtmlEncode(testcase.Output.TrimEnd('\n')).Replace("\n", "<br/>"))
                                    </blockquote>
                                </div>
                            }
                        }
                        @if (!System.String.IsNullOrEmpty(Model.Hint))
                        {
                            <h3>备注</h3>
                            <div class="post-content">@Html.Sanitized(Model.Hint)</div>
                        }
                    </div>
                </div>
            </div><div class="grid_3">
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="post-module module-contest-problems">
                        <p><a href="javascript:void(0)" id="btnLoadCodeEditBox">提交评测</a></p>
                        @if (User.Identity.IsAuthenticated && Model.Contest.Format == ContestFormat.Codeforces)
                        {
                            if (ViewBag.IsLocked)
                            {
                                <p>该题已锁定</p>
                            }
                            else
                            {
                                <p><a href="javascript:Lock()" id="btnLock">锁定该题</a></p>
                                using (Html.BeginForm("Lock", "Problem", new { id = Model.ID }, FormMethod.Post, new { id = "frmLockProblem" }))
                                {
                                    @Html.AntiForgeryToken()
                                }
                                <script>
                                    function Lock() {
                                        $.post("/Problem/Lock/@Model.ID", $("#frmLockProblem").serialize(), function (result) { CastMsg(result) });
                                    }
                                </script>
                            }
                        }
                        <div class="post-module-content">
                            @foreach (CodeComb.Entity.Status status in ViewBag.Statuses)
                            {
                                <div class="contest-problem-item post-cate-item"><div class=""><span class="status-tag status-bg-@Html.GetResultCss(status.Result)">@Html.GetResultShortTitle(status.Result)</span></div>@Html.ActionLink(status.Time.ToString("MM-dd HH:mm"), "Show", "Status", new { id = status.ID }, null)</div>
                            }
                        </div>

                    </div>
                }
                <div class="post-module">
                    <h3>Limits</h3>
                    <div class="post-module-content">
                        <div class="post-cate-item">Time: @(Model.TimeLimit)ms per test case</div>
                        <div class="post-cate-item">Memory: @(Model.MemoryLimit)KiB</div>
                        <div class="post-cate-item">Java class name: Main</div>
                        <div class="post-cate-item">Judge mode: @(System.String.IsNullOrEmpty(Model.SpecialJudge) ? "Normal" : "Special")</div>
                    </div>
                </div>
                <div class="post-module module-contest-problems">
                    <h3>Problems</h3>
                    <div class="post-module-content">
                        @{
                var n = 'A';
                foreach (StatusSnapshot item in ViewBag.Problems)
                {
                    <div class="contest-problem-item post-cate-item"><div class=""><span class="status-tag status-bg-@item.Css">@item.Result</span></div>@Html.ActionLink(n++ + ": " + item.ProblemTitle, "Show", "Problem", new { id = item.ProblemID }, null)</div>
                }
                        }
                    </div>
                </div>
            @if (Model.Clarifications.Where(x => x.Status == ClarificationStatus.BroadCast).OrderByDescending(x => x.Time).Count() > 0)
            { 
                <div class="post-module">
                    <h3>Broadcasts</h3>
                    <div class="post-module-content">
                        @foreach (var item in Model.Clarifications.Where(x => x.Status == ClarificationStatus.BroadCast).OrderByDescending(x => x.Time))
                        {
                            <div class="post-cate-item"><a href="javascript:ShowClar(@item.ID)">@item.Question</a></div>
                        }
                    </div>
                </div>
            }
            </div><div class="clear"></div>
        </div>
    </div>
}
else
{
    <div class="contest-body">
        <div class="cont-wrap">
            <div class="grid_9 shadow">
                <div class="contest-main">
                    <div class="post-info"></div>
                    <div>
                        @if (!System.String.IsNullOrEmpty(Model.Background))
                        {
                            <h3>题目背景</h3>
                            <div class="post-content">@Html.Sanitized(Model.Background)</div>
                        }
                        @if (!System.String.IsNullOrEmpty(Model.Description))
                        {
                            <h3>题目描述</h3>
                            <div class="post-content">@Html.Sanitized(Model.Description)</div>
                        }
                        @if (!System.String.IsNullOrEmpty(Model.Input))
                        {
                            <h3>输入格式</h3>
                            <div class="post-content">@Html.Sanitized(Model.Input)</div>
                        }
                        @if (!System.String.IsNullOrEmpty(Model.Output))
                        {
                            <h3>输出格式</h3>
                            <div class="post-content">@Html.Sanitized(Model.Output)</div>
                        }
                        @if (Model.TestCases.Where(x => x.Type == TestCaseType.Sample).Count() > 0)
                        {
                            var i = 1;
                            foreach (var testcase in Model.TestCases.Where(x => x.Type == TestCaseType.Sample).ToList())
                            {
                                <h3>样例数据 @(i++)</h3>
                                <div class="post-content">
                                    <p>
                                        输入　
                                        [<a class="testcase-copywrap" data-id="i@(i - 1)" href="javascript:;">复制</a>]
                                    </p>
                                    <blockquote class="testcase" id="testcase-i@(i - 1)">
                                        @Html.Sanitized(HttpUtility.HtmlEncode(testcase.Input.TrimEnd('\n')).Replace("\n", "<br/>"))
                                    </blockquote>
                                    <p>输出</p>
                                    <blockquote class="testcase">
                                        @Html.Sanitized(HttpUtility.HtmlEncode(testcase.Output.TrimEnd('\n')).Replace("\n", "<br/>"))
                                    </blockquote>
                                </div>
                            }
                        }
                        @if (!System.String.IsNullOrEmpty(Model.Hint))
                        {
                            <h3>备注</h3>
                            <div class="post-content">@Html.Sanitized(Model.Hint)</div>
                        }
                    </div>
                </div>
            </div><div class="grid_3">
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="post-module problem-actions">
                        <h3>操作</h3>
                        <div class="post-module-content">
                            <p><a href="javascript:void(0)" id="btnLoadCodeEditBox">提交评测</a></p>
                            <p><a href="/Problem/Status/@Model.ID">评测记录</a></p>
                            <p><a href="/Contest/Clar/@Model.ContestID">答疑平台</a></p>
                            <p><a href="/Solution/@Model.ID">查看题解</a></p>
                            @if (ViewBag.IsMaster)
                            {
                                <p><a href="/Problem/Edit/@Model.ID">管理题目</a></p>
                                <p><a href="/Contest/Settings/General/@Model.Contest.ID">管理比赛</a></p>
                            }
                        </div>
                    </div>
                }
                <div class="post-module">
                    <h3>Limits</h3>
                    <div class="post-module-content">
                        <div class="post-cate-item">Time: @(Model.TimeLimit)ms per test case</div>
                        <div class="post-cate-item">Memory: @(Model.MemoryLimit)KiB</div>
                        <div class="post-cate-item">Java class name: Main</div>
                        <div class="post-cate-item">Judge mode: @(System.String.IsNullOrEmpty(Model.SpecialJudge) ? "Normal" : "Special")</div>
                    </div>
                </div>
            @if (Model.Clarifications.Where(x => x.Status == ClarificationStatus.BroadCast).OrderByDescending(x => x.Time).Count() > 0)
            { 
                <div class="post-module">
                    <h3>答疑平台</h3>
                    <div class="post-module-content">
                        @foreach (var item in Model.Clarifications.Where(x => x.Status == ClarificationStatus.BroadCast).OrderByDescending(x => x.Time))
                        {
                            <div class="post-cate-item"><a href="javascript:ShowClar(@item.ID)">@item.Question</a></div>
                        }
                    </div>
                </div>
            }
                @if (User.Identity.IsAuthenticated && ViewBag.Statuses.Count > 0)
                {
                    <div class="post-module module-contest-problems">
                        <div class="post-module-content">
                            @foreach (CodeComb.Entity.Status status in ViewBag.Statuses)
                            {
                                <div class="contest-problem-item post-cate-item"><div class=""><span class="status-tag status-bg-@Html.GetResultCss(status.Result)">@Html.GetResultShortTitle(status.Result)</span></div>@Html.ActionLink(status.Time.ToString("MM-dd HH:mm"), "Show", "Status", new { id = status.ID }, null)</div>
                            }
                        </div>
                    </div>
                }
            </div><div class="clear"></div>
        </div>
    </div>
}
@if (User.Identity.IsAuthenticated)
{
    <div style="display:none">
        <div id="CodeEditBox">
            <h3>提交评测</h3>
            @using (Html.BeginForm("Create", "Status", FormMethod.Post, new { id = "frmSubmitCode" }))
            {
                @Html.AntiForgeryToken()
                <input type="hidden" value="@Model.ID" name="problem_id" />
                <textarea id="editor" name="code" style="width:600px;height:280px;font-size:12px;"></textarea>
                <p>
                    <select id="lstLanguages" name="language_id">
                        @{
                var i = 0;
                foreach (var name in CodeComb.Entity.CommonEnums.LanguageDisplay)
                {
                    if (((CodeComb.Entity.User)ViewBag.CurrentUser).CommonLanguageAsInt == i)
                    {
                        <option value="@(i++)" selected>@name</option>
                    }
                    else
                    {
                        <option value="@(i++)">@name</option>
                    }
                }
                        }
                    </select>
                    <input type="button" id="btnSubmitCode" class="button button-def" value="提交" />
                    <input type="button" id="btnClearCodeBox" class="button" value="清空" />
                </p>
            }
        </div>
    </div>
}
