@{
    Layout = null;
}

<!DOCTYPE html>
<!--[if lt IE 7 ]><html xmlns="http://www.w3.org/1999/xhtml" class="ie6 lte6 lte7 lte8 lte9"><![endif]-->
<!--[if IE 7 ]><html xmlns="http://www.w3.org/1999/xhtml" class="ie7 lte7 lte8 lte9"><![endif]-->
<!--[if IE 8 ]><html xmlns="http://www.w3.org/1999/xhtml" class="ie8 lte8 lte9"><![endif]-->
<!--[if IE 9 ]><html xmlns="http://www.w3.org/1999/xhtml" class="ie9 lte9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml">
<!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <title>CodeComb</title>
    <!--[if lt IE 9]>
    <link href="/Styles/css-ie.css" rel="stylesheet" type="text/css" charset="UTF-8" />
    <![endif]-->
    <link href="~/Styles/css.css" rel="stylesheet" type="text/css" charset="UTF-8" />
    <!--[if lte IE 8]>
    <script src="/Scripts/json2.js"></script>
    <![endif]-->
    <script src="~/Scripts/jquery-1.11.1.min.js"></script>
    <script src="~/Scripts/codecomb.basic.js"></script>
    <script src="~/Scripts/codecomb.ajax.js"></script>
    <script src="~/Scripts/jquery.colorbox.js"></script>
    <script src="~/Scripts/jquery.cookie.js"></script>
    <script src="~/Scripts/codecomb.extend.js"></script>
    <script src="~/Scripts/codemirror.js"></script>
    <script src="~/Scripts/clike.js"></script>
    <script src="~/Scripts/pascal.js"></script>
    <script src="~/Scripts/python.js"></script>
    <script src="~/Scripts/ruby.js"></script>
    <script src="~/Scripts/vb.js"></script>
    <script src="~/Scripts/jquery.zclip.js"></script>
    <script src="~/Scripts/jquery.datetimepicker.js"></script>
    <script src="~/Scripts/jquery.qrcode.js"></script>
    <script src="~/Scripts/qrcode.js"></script>
    <!--[if !IE]><!-->
    <script src="/Scripts/highlight.pack.js"></script>
    <!--<![endif]-->
    <!--[if gte IE 9]>
        <script src="/Scripts/highlight.pack.js"></script>
    <!--<![endif]-->
    <!--[if lt IE 9]>
    <script type="text/javascript" src="/Scripts/excanvas.js"></script>
    <script src="/Scripts/jplaceholder.js"></script>
    <script src="/Scripts/PIE.min.js"></script>
    <![endif]-->
    <!--[if lte IE 6]>
    <script src="/Scripts/png.js"></script>
    <![endif]-->
    <script src="~/Scripts/jquery.signalR-2.1.1.js"></script>
    <script src="~/signalr/hubs"></script>
    <script type="text/javascript" src="~/Scripts/ckeditor/ckeditor.js"></script>
</head>
<body class="page-index">
    <!-- header -->
    <div class="page-header">
        <div class="cont-wrap">
            <div class="grid_12">
                <div class="float-left">
                    <a href="/" class="float-left page-header-item" style="width:153px;overflow:hidden"><div class="page-header-item-text" style="height:32px;"><img src="/Images/Logo.gif" alt="Code Comb" style="height:34px;" /></div><div class="page-header-item-bg"></div></a>
                    <a href="/Problem" class="float-left page-header-item"><div class="page-header-item-text">题目</div><div class="page-header-item-bg"></div></a>
                    <a href="/Contest" class="float-left page-header-item"><div class="page-header-item-text">比赛</div><div class="page-header-item-bg"></div></a>
                    <a href="/Status" class="float-left page-header-item"><div class="page-header-item-text">记录</div><div class="page-header-item-bg"></div></a>
                    <a href="/Forum" class="float-left page-header-item"><div class="page-header-item-text">论坛</div><div class="page-header-item-bg"></div></a>
                    <a href="/Rating" class="float-left page-header-item"><div class="page-header-item-text">排名</div><div class="page-header-item-bg"></div></a>
                    <div class="clear"></div>
                </div>
                <div class="float-right">
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <a href="javascript:;" onclick="popupLogin.call(this)" class="float-left page-header-item role-show-login-form"><div class="page-header-item-text">登录</div><div class="page-header-item-bg"></div></a>
                        <a href="/User/Register" class="float-left page-header-item"><div class="page-header-item-text">注册</div><div class="page-header-item-bg"></div></a>
                    <div style="display:none;color:gray;" class="login-form">
                        @using (Html.BeginForm("Login", "User", null, FormMethod.Post, null))
                        {
                            @Html.AntiForgeryToken()
                            <div id="NormalLogin">
                                <div class="form-line"><label>用户名</label><input name="Username" type="text" class="textbox role-login-user" /></div>
                                <div class="form-line"><label>密　码</label><input name="Password" type="password" class="textbox role-login-pass" /></div>
                                <div class="form-line"><input type="submit" class="button button-def" value="登录" /> @Html.CheckBox("Remember", false)记住我 <a href="javascript:BarCode();">二维码登录</a></div>
                            </div>
                            <div id="BarCodeLogin" style="display:none;width:239px;">
                                <div class="form-line" style="text-align:center">扫描下方的二维码登录</div>
                                <div class="form-line"><div id="BarCode" style="margin:0 auto;width:100px;height:100px;"></div></div>
                                <div class="form-line" style="text-align:center"><a href="javascript:$('#BarCodeLogin').hide();$('#NormalLogin').fadeIn();">切换到传统模式</a></div>
                            </div>                        }
                    </div>
                    }
                    else
                    {
                        <a href="/User/@ViewBag.CurrentUser.ID" class="float-left page-header-item"><div class="page-header-item-text">@Html.Gravatar((string)ViewBag.CurrentUser.Gravatar, 180, "page-header-face") @ViewBag.CurrentUser.Nickname</div><div class="page-header-item-bg"></div></a>
                        <a href="javascript:$('#frmLogout').submit();" class="float-left page-header-item"><div class="page-header-item-text">登出</div><div class="page-header-item-bg"></div></a>
                        using (Html.BeginForm("Logout", "User", FormMethod.Post, new { id = "frmLogout", style = "display:none;" }))
                        {
                            @Html.AntiForgeryToken()
                        }
                    }
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div><div class="clear"></div>
        </div>
    </div>
    <!-- /header -->
    <!-- index -->
    <div class="page-index-gradient"></div>
    <!-- body -->
    <div class="index-body">
        <div class="cont-wrap">
            <div class="grid_7 index-body-left">
                <div class="index-desc"><h1>{ WE BUILD MAGICS }</h1></div>
            </div><div class="grid_5 index-body-right">
                <div class="index-body-right-inner">
                    <div class="index-news index-module">
                        <h3>News</h3><div class="index-module-content">
                        @foreach (HomeNews item in ViewBag.HomeNews) 
                        {
                            <div class="index-news-item"><div class="index-news-title">@Html.ActionLink(item.Title, "Index", "Topic", new { id = item.ID }, null)</div><div class="index-news-time">@Html.ToTimeTip(item.Time)</div></div>
                        }
                        @if (ViewBag.HomeNews.Count == 0)
                        { 
                            <div class="index-news-item">没有新闻</div>
                        }
                        </div>
                    </div>
                    <div class="index-contests index-module">
                        <h3>Recent Contests</h3><div class="index-module-content">
                            @foreach (HomeContest item in ViewBag.HomeContests)
                            {
                                <div class="index-contests-item"><div class="index-contests-title">@Html.ActionLink(item.Title, "Index", "Contest", new { id = item.ID }, null)</div><div class="index-contests-time">@Html.ToContestStatus(item.Begin, item.RestBegin, item.RestEnd, item.End)</div></div>
                            }
                            @if (ViewBag.HomeContests.Count == 0)
                            { 
                                <div class="index-contests-item">没有将要开始的比赛</div>
                            }
                            else 
                            { 
                                <div class="index-contests-item">@Html.ActionLink("More...", "Index", "Contest", null, null)</div>
                            }
                        </div>
                    </div>
                </div>
            </div><div class="clear"></div>
        </div>
    </div>
    <!-- /body -->
    <!-- /index -->
    <!-- footer -->
    <div class="page-footer">
        <div class="cont-wrap">
            <div class="grid_12">
                Copyright (C) 2014 CodeComb.
            </div><div class="clear"></div>
        </div>
    </div>
</body>
</html>