@model CodeComb.Entity.Contest
@{
    ViewBag.Title = "比赛管理员 - " + Model.Title;
    ViewBag.BannerTitle = Model.Title;
    var IsMaster = (bool)ViewBag.IsMaster;
    var IsCreator = (bool)ViewBag.IsCreator;
}
<div class="contest-body">
    <div class="cont-wrap">
        <div class="grid_9 shadow">
            <div class="contest-main">
                <div class="post-info"></div>
                <div>
                    <h3>管理员列表</h3>
                    <blockquote>
                        @foreach (var item in Model.Managers)
                        {
                            if (item.IsCreator)
                            {
                                <p>@Html.Gravatar(item.User.Gravatar, 180, "post-face") <a href="/User/@item.UserID">@Html.Nickname(item.User.Nickname, item.User.Ratings.Sum(x => x.Credit) + 1500)</a></p>
                            }
                            else
                            {
                                <p>@Html.Gravatar(item.User.Gravatar, 180, "post-face") <a href="/User/@item.UserID">@Html.Nickname(item.User.Nickname, item.User.Ratings.Sum(x => x.Credit) + 1500)</a> [<a href="javascript:$('#DeleteID').val(@item.ID);$.colorbox({ inline: true, width: 'auto', href: '#DeleteContestManager'});">删除</a>]</p>
                            }
                        }
                    </blockquote>
                    @using (Html.BeginForm("AddManager", "ContestSettings", new { id = Model.ID }, FormMethod.Post, new { id = "frmAddManager" }))
                    {
                        @Html.AntiForgeryToken()
                        <p>添加管理员：@Html.TextBox("user_id", null, new { placeholder = "用户ID", @class = "textbox" }) <input type="submit" value="添加" class="button button-def" /></p>
                    }
                </div>
            </div>
        </div><div class="grid_3">
            @if (User.Identity.IsAuthenticated)
            {
                <div class="post-module problem-actions">
                    <h3>管理比赛</h3>
                    <div class="post-module-content">
                        <p><a href="/Contest/Settings/General/@Model.ID">基本信息管理</a></p>
                        <p><a href="/Contest/Settings/Problems/@Model.ID">题目管理</a></p>
                        <p><a href="/Contest/Settings/Manager/@Model.ID">比赛裁判管理</a></p>
                        <p><a href="/Contest/Settings/More/@Model.ID">比赛完整性检测</a></p>
                        <p><a href="/Contest/@Model.ID">返回比赛</a></p>
                    </div>
                </div>
            }
        </div><div class="clear"></div>
    </div>
</div>

<div style="display:none">
    <div id="DeleteContestManager">
        @using (Html.BeginForm("DeleteManager", "ContestSettings", new { id = Model.ID }, FormMethod.Post, null))
        {
            @Html.AntiForgeryToken()
            <input type="hidden" id="DeleteID" name="manager_id" />
            <h3>删除管理员</h3>
            <p>您确认要删除这名管理员吗？</p>
            <p><input type="submit" value="确认" class="button button-def" /></p>
        }
    </div>
</div>
