@model Solution
@{
    ViewBag.Title = "创建解题报告 - " + ViewBag.ProblemTitle;
}
<script type="text/javascript" src="~/Scripts/ckeditor/ckeditor.js"></script>
<div class="post-detail-body">
    <div class="cont-wrap">
        <div class="grid_12">
            <div class="post-detail-wrap-outer">
                <div class="profile-actions">
                    <a href="/Problem/@ViewContext.RouteData.Values["id"]" class="profile-btn"><img src="/Images/description.png" alt="返回题目" /></a>
                </div>
                <div class="post-detail-wrap">
                    <div class="post-title"><h2>创建解题报告 - @ViewBag.ProblemTitle</h2></div>
                    <div class="post-content">
                        @using (Html.BeginForm("Create", "Solution", new { id = ViewContext.RouteData.Values["id"] }, FormMethod.Post, null))
                        {
                            @Html.AntiForgeryToken()
                            <p>标题</p>
                            <p>@Html.TextBoxFor(x => x.Title, new { @class = "textbox" })</p>
                            <p>代码</p>
                            <p>@Html.TextAreaFor(x => x.Code, new { id = "editor" })</p>
                            <p>
                                语言：<select id="lstLanguages" name="LanguageAsInt">
                                    @{
                                        var i = 0;
                                        foreach (var name in CodeComb.Entity.CommonEnums.LanguageDisplay)
                                        {
                                            if (((CodeComb.Entity.User)ViewBag.CurrentUser).CommonLanguageAsInt == i)
                                            {
                                                <option value="@(i++)" selected>@name</option>
                                            }
                                            else
                                            {
                                                <option value="@(i++)">@name</option>
                                            }
                                        }
                                    }
                                </select>
                            </p>
                            <p>内容</p>
                            <p>@Html.TextAreaFor(x => x.Content, new { @class = "ckeditor" })</p>
                            <p><input type="submit" value="提交" class="button button-def" /></p>
                        }
                    </div>
                </div>
            </div>
        </div><div class="clear"></div>
    </div>
</div>