@model Solution
@{
    ViewBag.Title = "编辑标签 - " + Model.Title + " - " + Model.Problem.Title;
    List<AlgorithmTag> Tags = ViewBag.Tags;
}
<div class="post-detail-body">
    <div class="cont-wrap">
        <div class="grid_12">
            <div class="post-detail-wrap-outer">
                <div class="profile-actions">
                    <a href="/Solution/@Model.ProblemID" class="profile-btn"><img src="/Images/back.png" alt="返回解题报告列表" /></a>
                </div>
                <div class="post-detail-wrap">
                    <div class="post-title"><h2>编辑标签 - @Model.Title</h2></div>
                    <div class="post-content" id="lstSolutionTags">
                        @foreach (var tag in Tags)
                        { 
                            <p><strong>@tag.Title</strong></p>
                            <p>
                                @foreach (var child in tag.Children)
                                {
                                    <a href="javascript:SetSolutionTag(@child.ID)" id="t_@child.ID" class="btn-tag gray label">@child.Title</a>
                                }
                            </p>
                        }
                        <p><input type="button" value="查看本解题报告" class="button button-def" onclick="window.location='/Solution/Show/@Model.ID'" /> </p>
                    </div>
                </div>
            </div>
        </div><div class="clear"></div>
    </div>
</div>
<script>
    id = @Model.ID;
</script>