@model IEnumerable<Solution>
@{
    ViewBag.Title = "解题报告 - " + ViewBag.ProblemTitle;
    var IsMaster = (bool)ViewBag.IsMaster;
    var IsCreator = (bool)ViewBag.IsCreator;
    var IsAccepted = (bool)ViewBag.IsAccepted;
    string[] Css = { "green", "orange", "blue", "purple", "red" };
}

<div class="post-detail-body">
    <div class="cont-wrap">
        <div class="grid_12">
            <div class="post-detail-wrap-outer">
                <div class="profile-actions">
                    <a href="/Problem/@ViewContext.RouteData.Values["id"]" class="profile-btn"><img src="/Images/back.png" alt="返回题目" /></a>
                    @if(User.Identity.IsAuthenticated && IsAccepted)
                    {
                        <a href="/Solution/Create/@ViewContext.RouteData.Values["id"]" class="profile-btn"><img src="/Images/description.png" alt="编写题解" /></a>
                    }
                </div>
                <div class="post-detail-wrap">
                    <div class="post-title"><h2>解题报告 - @ViewBag.ProblemTitle</h2></div>
                    <div class="post-info"></div>
                    <div class="post-content">
                        <table>
                            <thead>
                                <tr>
                                    <th>标题</th>
                                    <th>作者</th>
                                    <th>标签</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                { 
                                    <tr>
                                        <td>@Html.ActionLink(item.Title, "Show", "Solution", new { id = item.ID }, null)</td>
                                        <td><a href="/User/@item.UserID">@Html.Nickname(item.User.Nickname, item.User.Ratings.Sum(x => x.Credit) + 1500, "post-info")</a> </td>
                                        <td>
                                            @{ 
                                                var i = 0;
                                                foreach (var tag in item.SolutionTags)
                                                {
                                                    if (tag.AlgorithmTag.FatherID != null)
                                                    {
                                                        if (tag.AlgorithmTag.Father.Title == tag.AlgorithmTag.Title || tag.AlgorithmTag.Father.Children.Count == 1)
                                                        {<a href="javascript:void(0);" class="btn-tag @(Css[i++%5]) label">@tag.AlgorithmTag.Father.Title</a>}
                                                        else
                                                        {<a href="javascript:void(0);" class="btn-tag @(Css[i++%5]) label">@tag.AlgorithmTag.Father.Title @tag.AlgorithmTag.Title</a>}
                                                    }
                                                }
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div><div class="clear"></div>
    </div>
</div>