@model IEnumerable<Solution>
@{
    CodeComb.Entity.Contest contest = ViewBag.CurrentContest;
    ViewBag.Title = "解题报告";
    var IsMaster = (bool)ViewBag.IsMaster;
    var IsCreator = (bool)ViewBag.IsCreator;
    var IsAccepted = (bool)ViewBag.IsCreator;
}

<div class="post-detail-body">
    <div class="cont-wrap">
        <div class="grid_12">
            <div class="post-detail-wrap-outer">
                <div class="profile-actions">
                    <a href="/Problem/@ViewContext.RouteData.Values["id"]" class="profile-btn"><img src="/Images/description.png" alt="返回题目" /></a>
                </div>
                <div class="post-detail-wrap">
                    @(User.Identity.IsAuthenticated)
                    {
                        @Html.ActionLink("我要提交解题报告", "Create", "Solution", new { id = ViewContext.RouteData.Values["id"] }, null)
                    }
                    <div class="post-title"><h2>解题报告 - @contest.Title</h2></div>
                    <div class="post-info"></div>
                    <div class="post-content">
                        <table>
                            <thead>
                                <tr>
                                    <th>标题</th>
                                    <th>作者</th>
                                    <th>标签</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                { 
                                    <tr>
                                        <td>@item.Title</td>
                                        <td>@Html.Nickname(item.User.Nickname, item.User.Ratings.Sum(x => x.Credit) + 1500, "post-info")</td>
                                        <td>
                                            @{ 
                                                var i = 0;
                                                foreach (var tag in item.SolutionTags)
                                                {
                                                    if (++i != item.SolutionTags.Count)
                                                    { 
                                                        @(tag.AlgorithmTag.Title+",")
                                                    }
                                                    else
                                                    { 
                                                        @tag.AlgorithmTag.Title
                                                    }
                                                }
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div><div class="clear"></div>
    </div>
</div>