@model Solution
@{
    ViewBag.Title = Model.Title + " - " + Model.Problem.Title;
    string[] Css = { "green", "orange", "blue", "purple", "red" };
    var i = 0;
}

<div class="post-detail-body">
    <div class="cont-wrap">
        <div class="grid_12">
            <div class="post-detail-wrap-outer">
                <div class="post-detail-wrap">
                    <div class="post-title"><h2>@Model.Title</h2></div>
                    <div class="post-info">
                        @Html.Gravatar(Model.User.Gravatar, 180, "post-face") <a href="/User/@Model.UserID">@Html.Nickname(Model.User.Nickname, Model.User.Ratings.Sum(x => x.Credit) + 1500, "post-info")</a>
                        @if (User.Identity.IsAuthenticated && (((CodeComb.Entity.User)ViewBag.CurrentUser).ID == Model.UserID || ((CodeComb.Entity.User)ViewBag.CurrentUser).Role >= UserRole.Master))
                        {
                            @Html.ActionLink("编辑", "Edit", "Solution", new { id = Model.ID }, new { @class = "post-info" })
                            <a class="post-info" href="javascript:$('#frmDeleteSolution').submit();">删除</a>
                            using (Html.BeginForm("Delete", "Solution", FormMethod.Post, new { id = "frmDeleteSolution", style = "display:none;" }))
                            {
                                @Html.AntiForgeryToken()
                                <input type="hidden" value="@Model.ID" name="id" />
                            }
                        }
                        <span class="post-info">标签：</span>
                        <a href="/Problem/@Model.ProblemID" class="post-info @(Css[4]) label">@Model.Problem.Title</a>@foreach (SolutionTag tag in ViewBag.Tags)
                        {
                            if (tag.AlgorithmTag.FatherID != null)
                            {
                                if (tag.AlgorithmTag.Father.Title == tag.AlgorithmTag.Title || tag.AlgorithmTag.Father.Children.Count == 1)
                                {<span class="post-info @(Css[i++%5]) label">@tag.AlgorithmTag.Father.Title</span>}
                                else
                                {<span class="post-info @(Css[i++%5]) label">@tag.AlgorithmTag.Father.Title @tag.AlgorithmTag.Title</span>}
                            }
                        }
                    </div>
                    <div class="post-content">
                        <p>代码：</p>
                        <pre><code class="@Html.GetLanguageClass(Model.Language)">@Model.Code</code></pre>
                        <p>解题报告：</p>
                        @Html.Sanitized(Model.Content)
                    </div>
                </div>
            </div>
        </div>
    </div><div class="clear"></div>
</div>
