@model CodeComb.Entity.Contest
@{
    ViewBag.Title = Model.Title;
    ViewBag.BannerTitle = "打印服务 - " + Model.Title;
    var IsMaster = (bool)ViewBag.IsMaster;
    var IsCreator = (bool)ViewBag.IsCreator;
}
<div class="contest-body">
    <div class="cont-wrap">
        <div class="grid_9">
            <div class="contest-main shadow">
                <p>请将您需要打印的材料粘贴到下面的编辑框内</p>
                    @using (Html.BeginForm("Print", "Contest", FormMethod.Post, new { id = "frmPrint" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.Hidden("id", Model.ID);
                        <textarea name="content" style="width:100%;height:280px;" class="textbox"></textarea>
                        <p><input type="submit" class="button button-def" value="提交打印" /></p>
                    }
            </div>
        </div>
        <div class="grid_3">
            <div class="post-module">
                <h3>Navigator</h3>
                <div class="post-module-content">
                    <div class="post-cate-item">@Html.ActionLink("比赛介绍", "Show", "Contest", new { id = Model.ID }, null)</div>
                    @if (Model.Format != ContestFormat.OI && DateTime.Now >= Model.Begin || IsMaster)
                    {
                        <div class="post-cate-item">@Html.ActionLink("比赛排名", "Standings", "Contest", new { id = Model.ID }, null)</div>
                        <div class="post-cate-item">@Html.ActionLink("数据统计", "Statistics", "Contest", new { id = Model.ID }, null)</div>
                    }
                    @if (DateTime.Now >= Model.Begin)
                    {
                        <div class="post-cate-item">@Html.ActionLink("评测状态", "Status", "Contest", new { id = Model.ID }, null)</div>
                        if (Model.Format == ContestFormat.Codeforces || Model.Format == ContestFormat.TopCoder)
                        {
                            <div class="post-cate-item">@Html.ActionLink("Hack状态", "Hack", "Contest", new { id = Model.ID }, null)</div>
                        }
                        if (Model.AllowClarification)
                        {
                            <div class="post-cate-item">@Html.ActionLink("答疑平台", "Clar", "Contest", new { id = Model.ID }, null)</div>
                        }
                        if (Model.AllowPrintRequest)
                        {
                            <div class="post-cate-item">@Html.ActionLink("打印服务", "Print", "Contest", new { id = Model.ID }, null)</div>
                        }
                    }
                    @if (IsMaster)
                    {
                        <div class="post-cate-item">@Html.ActionLink("管理比赛", "General", "ContestSettings", new { id = Model.ID }, null)</div>
                    }
                </div>
            </div>
        </div><div class="clear"></div>
    </div>
</div>