@model CodeComb.Entity.Contest
@{
    ViewBag.Title = "统计 - " + @Model.Title;
    var IsMaster = (bool)ViewBag.IsMaster;
    var IsCreator = (bool)ViewBag.IsCreator;
}
<div class="post-detail-body">
    <div class="cont-wrap">
        <div class="grid_12">
            <div class="post-detail-wrap-outer">
                <div class="profile-actions">
                    <a href="/Contest/@Model.ID" class="profile-btn"><img src="/Images/description.png" alt="比赛介绍" /></a>
                    @if (Model.Format != ContestFormat.OI && DateTime.Now >= Model.Begin || IsMaster)
                    {
                        <a href="/Contest/Standings/@Model.ID" class="profile-btn"><img src="/Images/standings.png" alt="比赛排名" /></a>
                        <a href="/Contest/Statistics/@Model.ID" class="profile-btn"><img src="/Images/statistics.png" alt="数据统计" /></a>

                    }
                    @if (DateTime.Now >= Model.Begin)
                    {
                        <a href="/Contest/Status/@Model.ID" class="profile-btn"><img src="/Images/status.png" alt="评测状态" /></a>
                        if (Model.Format == ContestFormat.Codeforces || Model.Format == ContestFormat.TopCoder)
                        {
                            <a href="/Contest/Hack/@Model.ID" class="profile-btn"><img src="/Images/hack.png" alt="Hack状态" /></a>
                        }
                        if (Model.AllowClarification)
                        {
                            <a href="/Contest/Clar/@Model.ID" class="profile-btn"><img src="/Images/clar.png" alt="答疑平台" /></a>
                        }
                        if (Model.AllowPrintRequest)
                        {
                            <a href="/Contest/Print/@Model.ID" class="profile-btn"><img src="/Images/print.png" alt="打印服务" /></a>
                        }
                    }
                    @if (IsMaster)
                    {
                        <a href="/Contest/Settings/General/@Model.ID" class="profile-btn"><img src="/Images/settings.png" alt="管理比赛" /></a>
                    }
                </div>
                <div class="post-detail-wrap">
                    <div class="post-title"><h2>比赛统计 - @Model.Title</h2></div>
                    <div class="post-info"></div>
                    <div class="post-content">
                        <table style="width:100%">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>题目</th>
                                    <th>AC</th>
                                    <th>PE</th>
                                    <th>WA</th>
                                    <th>OLE</th>
                                    <th>TLE</th>
                                    <th>MLE</th>
                                    <th>RE</th>
                                    <th>CE</th>
                                    @if (Model.Format == ContestFormat.Codeforces || Model.Format == ContestFormat.TopCoder)
                                    { 
                                        <th>HKD</th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @{var num = 'A'; int i = 0;}
                                @foreach (var item in Model.Problems.OrderBy(x => x.Credit))
                                { 
                                    <tr>
                                        <td>@(num++)</td>
                                        <td>@item.Title</td>
                                        <td>@ViewBag.Statistics[i, 0]</td>
                                        <td>@ViewBag.Statistics[i, 1]</td>
                                        <td>@ViewBag.Statistics[i, 2]</td>
                                        <td>@ViewBag.Statistics[i, 3]</td>
                                        <td>@ViewBag.Statistics[i, 4]</td>
                                        <td>@ViewBag.Statistics[i, 5]</td>
                                        <td>@ViewBag.Statistics[i, 6]</td>
                                        <td>@ViewBag.Statistics[i, 7]</td>
                                        @if (Model.Format == ContestFormat.Codeforces || Model.Format == ContestFormat.TopCoder)
                                        {
                                            <td>@ViewBag.Statistics[i, 8]</td>
                                        }
                                    </tr>
                                    { i++;}
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div><div class="clear"></div>
    </div>
</div>
